{% extends "layout.html" %}

{% block title %}
Add Artwork
{% endblock title %}
   
{% block main %}
    <form method="POST" action="/create" enctype="multipart/form-data">
        <label for="title">Artwork Name</label><br>
        <input type="text" id="title" name="title"><br><br>
        
        <label for="description">Description</label><br>
        <textarea id="description" name="description"></textarea><br><br>

        <label for="img">Image File</label><br>
        <input type="file" id="img" name="img"><br><br>

        <button type="submit">Add to my list</button>
    </form>
{% endblock main %}