{% extends "layout.html" %}


{% block title %}
    Edit Artwork
{% endblock title %}


{% block main %}
<form action="/edit" method="post">
    <input type="hidden" name="id" value="{{ artwork_id }}"></input>
    <p>
      <label>Artwork Name</label><br>
      <input name="title" type="text" value="{{ artwork_title }} "></input>
    </p>
    <p>
      <label>Image File</label><br>
      <input name="file_img" type="text" value="{{ artwork_img }}"></input>
    </p>
    <p>
      <label>Description</label><br>
      <input name="description" type="text" value="{{ artwork_description }}"></input>
    </p>
    <button type="submit">Update Artwork Item</button>
  </form>
{% endblock main %}