{% extends "layout.html" %}

{% block title %}
    home
{% endblock title %}

{% block main %} 
{% if user_name %}
<form action="/logout" method="post">
    <button type="submit">logout</button>
</form>
{% else %}
<li><a href="/login">Login here</a></li>
{% endif %}
<div>
    {% for item in art_items %}
        <div>
            <img  src="{{ item.file_img }}" alt="{{ item.title }}">
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
            <a href="/edit?id={{ item.id }}&title={{ item.title }}&description={{ item.description }}&img={{ item.file_img }}">Edit</a>
            <a href="/delete?id={{ item.id }}&title={{ item.title }}">Delete</a>
        </div>
    {% endfor %}
</div>
{% endblock main %}

