{% extends "layout.html" %}

{% block title %}
    home
{% endblock title %}

{% block main %} 
<table>
    <thead>
        <th>
            id
        </th>
        <th>
            Title
        </th>
        <th>
            Image
        </th>
        <th>
            Description
        </th>
    </thead>
    <tbody>
        {% for item in art_items %}
        <tr>
            <td>{{ item.id }} </td>
            <td>{{ item.title }} </td>
            <td><img class="img" src="{{ item.file_img }}" alt="{{ item.title }}"></td>
            <td>{{ item.description }} </td>
            <td>
                <form method="GET" action="/delete">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <input type="hidden" name="title" value="{{ item.title }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
            
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}