{% extends "layout.html" %}

{% block title %}
    home
{% endblock title %}

{% block main %} 
<table>
    <thead>
        <th>
            id
        </th>
        <th>
            title
        </th>
        <th>
            description
        </th>
        <th>
            image
        </th>
    </thead>
    <tbody>
        {% for item in art_items %}
        <tr>
            <td>{{ item.id }} </td>
            <td>{{ item.title }} </td>
            <td>{{ item.description }} </td>
            <td>{{ item.file_img }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}