<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Art Gallary - {% block title%} {% endblock title%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <h1>Art Gallary</h1>
        <nav>
            <ul class="links">
                {% if user_name %}
                <form action="/logout" method="post">
                    <span>Welcome {{user_name}}</span>
                    <button type="submit">logout</button>
                </form>
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create New Artwork</a></li>
                <li><a href="/my_artworks">My Collection</a></li>

               {% else %}
                <span>Welcome Guest</span>
                <li><a href="/login">Login here</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block main %} {% endblock main %}
        </main>
        <script></script>
    </body>
</html>