{% extends 'layout.html' %}


{% block title %}
    Collection
{% endblock title %}


{% block main %}

  {% if user_artwork %}
  <div>
    {% for artwork in user_artwork %}
      <div class="art-item">
        <h2>{{ artwork.title }}</h2>
        <img src="{{ artwork.img_url }}" alt="{{ artwork.title }}">
        <p>{{ artwork.description }}</p>
        <a href="/edit?id={{ artwork.id }}&title={{ artwork.title }}&description={{ artwork.description }}&img={{ artwork.img_url }}">Edit</a>
        <a href="/delete?id={{ artwork.id }}&title={{ artwork.title }}">Remove From Collection</a>
      </div>
    {% endfor %}
  </div>
  {% else %}
  <p><a href="/create">Create artwork</a></p>
  {% endif %}
  
{% endblock main %}

